.mainLinks {
    width: 150px;
    
    padding: 0;
    margin: 0;
    
    text-align: center;
    
    background-color: #ffffff;
}

.mainLinks a {
    padding: 10px 0;
    display: block;
    
    color: #ffffff;
}

.mainLinks a:hover {
    background: #0000bb
}

.sub {
    position: relative;
    left: 20px;
    top: 10px;
    background: green;
    color: black;
}


.sub li a {
    display: block;
    float: none;
}
ul.sub li {
    position: relative;
}
.subSub {
    position: absolute;
    background: green;
    color: black;
    left: 110px;
    top : 10px;
}

.subSub li a {
    display: block;
    float: none;
}
 