/*
 * Hovering over the menu of products
*/
/*.mainLinks {
    width: 150px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    list-style-type: none;
}

.mainLinks a {
    padding: 10px 0;
    display: block;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.mainLinks a:hover {
    background: #008CBA;
}

.sub {
    position: relative;
    left: 20px;
    top: 10px;
    background: none;
    color: black;
    list-style-type: none;
}

.sub li a {
    display: block;
    float: none;
    border: 1px solid black;
    text-decoration: none;
}

ul.sub li {
    position: relative;
}

.subSub {
    position: absolute;
    background: transparent;
    color: black;
    /* Adjust where the drop-down submenu will pop up */
    /*left: 70px;
    top: -1.5px;
    list-style-type: none;
}

.subSub li a {
    display: block;
    float: none;
    width: 100px;
}*/

/* 
 * Get products styling
 */

/* Allows the content to dynamically adjust the width and height. */
* {
  box-sizing: border-box;
}

.shopping-cart {
  margin: 0px auto;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.item {
  height: 100px;
  display: flex;
}

.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 50px;
  margin-right: 60px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("delete-icn.svg") no-repeat center;
  margin-right: 20px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline:0;
}

/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    top: 10px;
    margin-right: 20px;
  }
}

#addToCartButton {
    margin-top: 12px;
}

/*
 * Asterisks styling 
 */

 .asterisks {
     color: red;
 }



 /* For menu*/

#menu ul li:hover>ul {
  left: 150px;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}

#menu ul li>ul {
  position: absolute;
  background-color: #333;
  top: 0;
  left: -150px;
  min-width: 150px;
  z-index: -1;
  height: 100%;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}

#menu ul li>ul li a:hover {
  background-color: #2e2e2e;
}


#menu ul li ul li>ul {
  left: 150px;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}

#menu ul li ul li>ul {
  position: absolute;
  background-color: #333;
  top: 0;
  left: -150px;
  min-width: 150px;
  z-index: -1;
  height: 100%;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}

p,
ul,
li,
div,
nav {
  padding: 0;
  margin: 0;
}

body {
  font-family: Calibri;
}

#menu {
  overflow: auto;
  position: relative;
  z-index: 2;
}

.parent-menu {
  background-color: #0c8fff;
  min-width: 100px;
  float: left;
}

#menu ul {
  list-style-type: none;
}

#menu ul li a {
  padding: 10px 15px;
  display: block;
  color: #fff;
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: #007ee9;
}